#Jhonnatan{
    border: 1px solid #000;
    padding: 25px;
}

#Felipe{
    /* margin: 0 25px 0 25px; */
    /* margin-top: 0;
    margin-right: 25px;
    margin-bottom: 0;
    margin-left: 25px; */
    margin: 0 25px;
    
}